* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  .bigger-box {
    background-color: #000000;
    width: 90%;
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
  }
  
  body {
    background-image: url(https://images.unsplash.com/photo-1508163223045-1880bc36e222?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY3NTM3OTM0Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  p {
    color: #ffffff;
  }
  
  h2 {
    color: #ffffff;
  }
  
  input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
  }
  
  .magnifying-glass {
    height: 20px;
  }
  button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
  }
  button:hover {
    background-color: #7c7c7c6b;
  }
  
  .center-box {
    margin-top: 20px;
    line-height: 50px;
  }
  .climate {
    text-transform: capitalize;
  }
  .little-box {
    display: flex;
    align-items: center;
  }
  